# created by virtualenv automatically
.idea
.ipynb_checkpoints
venv

mysql_redis_rabbitmq_compose/mysql/data
!mysql_redis_rabbitmq_compose/mysql/data/dre

mysql_redis_rabbitmq_compose/redis/data
!mysql_redis_rabbitmq_compose/redis/data/dre


__pycache__
.DS_Store
ldap_compose/data/LdapConfig/*
ldap_compose/data/ldapdb/*
gocqhttp/gocqhttp_data/data/leveldb-v2/LOG


gocqhttp/gocqhttp_data/*
